    body {
        padding: 0;
        margin: 0;
        font-family: 'Roboto Mono', monospace;
    }

    a {
        text-decoration: wavy;
    }
    .header {
        overflow: hidden;
        background-color: #f1f1f1;
        padding: 20px 10px;
    }
    
    .header a {
        float: left;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
    }
    
    .header a.logo {
        font-size: 25px;
        font-weight: bold;
    }
    
    .header a:hover {
        background-color: #ddd;

    }
    
    .header a.active {
        background-color: rgb(67, 72, 77);
        color: white;
    }
    
    .header-right {
        float: right;
        padding: 10px;

    }
    
    @media screen and (max-width: 500px) {
        .header a {
            float: none;
            display: block;
            text-align: left;
        }
        .header-right {
            float: none;
        }
    }
    
    .container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(23, 178, 178);
    }

    
    #hero {
        background-image: url(./images/coder.jpeg);
        background-size: cover;
        background-position: top center;
        position: relative;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 1;
        height: 100vh;
        text-transform: uppercase;
    }
    
    #hero::before {
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(68, 64, 59);
        opacity: .6;
        z-index: -1;
    }
    
    #hero .container {
        margin: 0 auto;
        padding-top: 20%;
        justify-content: flex-start;
    }
    
    #hero h3 {
        display: block;
        padding-left: 10px;
        width: max-content;
        position: relative;
        color: transparent;
        animation: text_reaveal .5s ease forwards;
        animation-delay: 1s;
        font-size: 50px;
    }
    
    #hero h3:nth-child(1) {
        animation-delay: 1s;
    }
    #hero h3:nth-child(2) {
        animation-delay: 2s;
    }
    
    #hero h3 span {
    border: 2px solid black;
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: rgb(96, 78, 78);
        animation: text_reaveal_box 2s ease;
        animation-delay: 1s;
    }
    
    #hero h3:nth-child(1) span {
        animation-delay: .5s;
    }
    
    #hero h3:nth-child(2) span {
        animation-delay: 2s;
    }
    
    .button_container{
        margin-top: 50px;
    }
    .cta{
        margin-left: 20px;
        padding: 15px;
        border-radius: 10px;
        color: white;
        background-color: rgb(41, 187, 187);
    }
    .cta_service{
        margin-left: 20px;
        padding: 15px;
        border-radius: 10px;
        color: white;
        background-color:black;
    }
    @keyframes text_reaveal_box {
        50% {
            width: 100%;
            left: 0;
        }
        100% {
            width: 0;
            left: 100%;
        }
    }
    
    @keyframes text_reaveal {
        100% {
            color: beige;
        }
    }



    /* features */

    
    .our_features{
        margin-top: 10%;
        padding-bottom: 5%;
    }
    .headers{
        padding: 0 20% 0 20%;
        text-align: center;
    }
    .feature_container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .features{
        display: flex;
        padding: 20px;
        border-radius: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        background-color: rgb(61, 156, 159);
        margin: 10px;
        max-width: 50vh;
        min-height: 60vh;
    }
    .button{
        background-color: rgb(61, 156, 159);
        border:2px solid white;
        margin: 10px;
        padding: 15px;
        width: 150px;
        border-radius: 30px;
    }
    .button:hover{
        background-color: aqua;
    }
    
    @media only screen and (max-width: 920px) {
        .feature_container{
            flex-wrap: wrap;
        }

    }
    
    @media only screen and (max-width: 720px) {
        .headers{
            padding: 0 10% 0 10%;
        }
        .features{
            max-width: 200vh;
            justify-content: space-around;
        }
    }


    /* why we are diffent css */



.wh_container{
    display: flex;
    justify-content: center;
    margin: 2% 5% 0 8%;
}
.what_makes_us{
    flex: 70%;
   margin-left: 2em;
   align-items: center;
}
.img{
    width: 70%;
    height: 55vh;
    align-items: center;
    padding: 3em 3em 2em 2em;
    animation:  slide 20s infinite;
    background-image: url('images/ab1.jpg');
    border-radius: 10px;
}
@keyframes slide{
    25%{
        background-image: url(
            'images/kurazg3.png'
        );
    }
    50%{
        background-image: url(
            'images/ab1.jpg' 
        );
    }
    75%{
        background-image: url(
            'images/code.jpg'
        );
    }
    100%{
        background: url(
            'images/dev-team.jpg'
        );
    }

}

@media only screen and (max-width: 1100px) {

    .wh_container{
        display: block;
        margin: 2% 2% 2% 2%;
    }
    .img{
        width: 94%;
        height: 400px;
        padding: 1.5em 2em 2em 2em;
        animation:  slide 20s infinite;
        background-image: url('images/ab1.jpg');
        border-radius: 10px;
    }
    .what_makes_us{
       margin-left:0.5em;
    }
  }

/*****service*****/
.service {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 2em;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card-col {
    flex-basis: 34%;
    min-height: 50vh;
    
    border-left: 3px solid #01855b;
    margin-left: 15px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    text-align: left;
    box-shadow: 0px 2px 5px 0px #d1cfcfef;
    transition-property: background-color;
    transition-property: animation;
    transition-delay: 0.3s;

}

h3 {
    font-weight: 600;
    margin: 10px 0;
}

.card-col p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 0;
    margin-bottom: 30px;
}

.card-col .btn {
    width: 5px;
    border: 1px solid #9c9c9cc3;
    border-radius: 20px;
    background: transparent;
    padding: 10px 20px;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.card-col:hover {
    background-color: #01855b;
    animation: flip 3s linear 1 forwards;
}

@keyframes flip {
    0% {
        transform: rotateX(60deg);
    }

    20% {
        transform: rotateX(120deg);
    }

    40% {
        transform: rotateX(180deg);
    }

    60% {
        transform: rotateX(240deg);
    }

    80% {
        transform: rotateX(300deg);
    }

    100% {
        transform: rotateX(360deg);
    }

}

.card-col:hover h3,
.card-col:hover p,
.card-col .btn:hover a {
    color: #fff;
    animation: keep 3s linear 1 forwards;
}

@keyframes keep {
    0% {
        transform: rotateX(-60deg);
    }

    20% {
        transform: rotateX(-120deg);
    }

    40% {
        transform: rotateX(-180deg);
    }

    60% {
        transform: rotateX(-240deg);
    }

    80% {
        transform: rotateX(-300deg);
    }

    100% {
        transform: rotateX(-360deg);
    }

}

.card-col:hover .btn {
    background-color: #fff;
    border-color: #000;
}

@media(max-width: 900px) {
    .cards {
        flex-direction: column;
    }
}




/* contact.css */

.containerc{
    margin-left: 5%;
    width: 85%;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
  }
.containerc .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.containerc .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    color: #000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
.content .left-side::before{
    content: '';
    position: absolute;
    color: #000;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
.content .left-side .details{
    color: #000;
    margin: 14px;
    text-align: center;
  }
.content .left-side .details i{
    font-size: 30px;
    /* color: #21b9b2; */
    margin-bottom: 10px;
  }
.content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
.content .left-side .details .text-one,
  content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
  }
  
  
  .containerc .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color:#000
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button1{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button1 input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #64d6df;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button1 input[type="button"]:hover{
    background: #299abc;
  }
  @media only screen and (max-width: 600px) {
      .containerc{
          padding: 0px;
          margin: 0px;
      }
    .content{
        margin: 0px;
        display: flex;
        flex-direction: column;
    }
    .containerc .content .left-side{
        display: flex;
        flex-direction: row;
    }
}
  


/* footer.css */



.footer{
    margin-top: 5em;
    min-height: 60vh;
    background-color: rgb(13, 13, 13);
    opacity: 0.6;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Footer_container{
    display: flex;
}
.Footer_container div{
    max-width: 50vh;
    margin: 2%;
}
.links{
    display: flex;
    flex-direction: column;
}
.links a{
    text-decoration: none;
    color: white;
}
.links a:hover{
    background-color: #01855b;
}
.footer_bottom{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 600px){
    .Footer_container{
        flex-wrap: wrap;
    }
} 

  
  
